<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Stud Search</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div id="wrapper">
        <div id="body">
            <div class="logo">
                <img src="https://www.google.com/images/srpr/logo11w.png" />
            </div>
            <form action="/search/" method="get">
              <input type="text" name="q" class="searchbar">
              <div id="buttons">
                <input type="submit" value="Search" class="button">
              </div>
            </form>
        </div>
        </div>
    </div>
</body>
</html>
