<!DOCTYPE html>
<html>
<title>Stud-Search</title>
  <head>
    <meta charset="utf-8">
    <title>Stud Search</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "style.css" %}">
  </head>
  <body>
    <div id="wrapper">
        <div id="body">
          <div class="logo">
	    {%load static%}
                <img src="{%static "logo.png" %}" />
            </div>
            <form action="/search/" method="get">
              <input type="text" name="q" class="searchbar">
              <div id="buttons">
                <input type="submit" value="Search" class="button">
              </div>
            </form>
        </div>
        </div>
    </div>
</body>
</html>
