<!DOCTYPE html>
<html>
<head>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-6892978980435274",
    enable_page_level_ads: true
  });
</script>
<title>{{request.GET.q}}</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
  <body>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-87625453-2', 'auto');
  ga('send', 'pageview');

</script>
    {%if students%}
    <div class="row">
    <div class="card blue-grey darken-1 col m6 s12">
      <div class="card-content white-text row">
        <a class="col m3 s6" href="/"><i  class="small white-text material-icons">chevron_leftchevron_left</i> </a>
        <p class="col m3 s6">Found {{students.paginator.count}} Student{{students|pluralize}}</p>
   </div>
 </div>
 </div>
 {%for student in students%}
     <div class="row">
     <div class="card grey lighten-5 col m6 s12">
       <div class="card-content white-text" ><a href="https://erp.iitkgp.ernet.in/StudentPerformance/view_performance.jsp?rollno={{student.roll}}">
    <ul>
      <li>Name: {{student.name}}</li>
      <li>Roll: {{student.roll}}</li>
      <li>Hall: {{student.hall}}</li>
    </ul>
  </a>
  </div>
  </div>
</div>
    {%endfor%}
    {%else%}
    <p> No student found</p>
    {%endif%}

    {% if students.has_other_pages %}
    <div class="row">
    <div class="card blue-grey darken-1 col m6 s12">
  <ul class="pagination">
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    {% for i in students.paginator.page_range %}
      {% if students.number == i %}
        <li class="active white black-text"><span>{{ i }}</span></li>
      {% else %}
        <li class="white-text"><a href="?page={{ i }}&q={{request.GET.q}}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
     <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
  </ul>
</div>
</div>
{% endif %}
<style>
  .card {display: none;}
</style>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script>
  $(document).ready(function() {
    $(".card").fadeIn(1000);
  })
  </script>
</html>
